@charset "UTF-8";

/* Importando a fonte */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

/* Resetando a margin e o padding */
* {
    margin: 0px;
    padding: 0px;
}

/* Cores e fontes */
:root {
    --color1: #F6F4F4;
    --color2: #0B0B09;
    --color3: #6E7E85;

    --font-title: Verdana, Tahoma, sans-serif;
    --font-body: "Merienda", sans-serif;
}

/* Configurando a header */
header {
    font: bold 1.4em var(--font-title);
    background-color: var(--color2);
    color: var(--color1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Configurando o footer */
footer {
    font: bold 1em var(--font-title);
    background-color: var(--color2);
    color: var(--color1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: var(--color1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Configurando a main */
.container {
    font: normal 1.2em var(--font-body);
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
}

/* Configurando as divs com texto */
.text {
    padding: 25px 50px;
}

/* Configurando as divs com texto e imagem */
.text-image {
    background-color: var(--color3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25px 30px;
}

/* Configurando os parágrafos dentro das divs com imagem */
.text-image > p {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--color1);
    max-width: 325px;
    padding: 20px;
    border-radius: 10px;
}

/* Adicionando as imagens de fundo */
#img1 {
    background-image: url(../img/clock.jpg);
}

#img2 {
    background-image: url(../img/couple.jpg);
}

/* Media queries */
/* Tablet */
@media (min-width: 680px) and (max-width: 1199px) {
    
    header {
        font: bold 1.6em var(--font-title);
    }

    footer {
        font: bold 1em var(--font-title);
    }

    .container {
        font: normal 2em var(--font-body);
        gap: 15px 0px;
    }

    .text {
        padding: 35px 90px;
    }

    .text-image {
        padding: 30px 70px;
    }

    .text-image > p {
        max-width: 480px;
        margin: 5px 0px;
        padding: 20px;
    }
}

/* Desktop */
@media (min-width: 1200px) {

    header {
        font: bold 2em var(--font-title);
    }

    footer {
        font: bold 1em var(--font-title);
    }

    .container {
        font: normal 2.5em var(--font-body);
        gap: 20px 0px;
    }

    .text {
        padding: 50px 100px;
    }

    .text-image {
        padding: 50px 80px;
    }

    .text-image > p {
        max-width: 45vw;
        margin: 10px 0px;
        padding: 20px;
    }
}